.welcome-layout{
  background-image: url("../../../../assets/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  min-width: 100vw;
  width: 200vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
