.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: white;
  text-shadow: 1px 1px darkgray;

  img {
    position: absolute;
    z-index: 0;
  }

  span {
    z-index: 1;
  }

  .title {
    font-family: "Lovely Boys";
    font-size: 20vh;
    line-height: 20vh;
    //font-weight: bold;
  }
  .subtitle{
    text-transform: uppercase;
  font-size:5vh;
    letter-spacing: 5px;
  }
}
