<mat-card class="project">
  <div class="image-area">
    <img src="../../../assets/images/background.png">
  </div>
  <mat-card-title>{{title?title:'N/A'}}</mat-card-title>
  <mat-card-content>{{subtitle?subtitle:'N/A'}}</mat-card-content>
</mat-card>
