.project{
  height:300px;
  width:250px;
  position:relative;
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  background-color: white;
  border-radius:5px ;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  .image-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:40%;
    width:100%;
    img{
      height: 100%;
      width:auto;
      position: absolute;
    }
  }
  mat-card-title{
    margin: 2vh 0;
    padding:10px;
    font-size:32px;
    font-weight: bold;
  }
  .mat-card-content{
    padding:10px;
  }
}
