/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Lovely Boys";
  src : url("assets/fonts/LovelyBoys.otf") format('otf');
}
@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  margin:0;
}
*{
  font-family: 'Oswald', sans-serif;
}
