<div class="nav-bar">
  <div class="logo">
    <img src="../../../assets/images/logo_aashma.png">
  </div>
  <div class="menu">
    <div class="menu-items close" id="menu-bar">
      <span class="menu-item">Home</span>
      <span class="menu-item">About Me</span>
      <span class="menu-item">My Works</span>
      <span class="menu-item">Portfolio</span>
      <span class="menu-item">Contact</span>
    </div>
    <span class="menu-bar">
      <i class="material-icons" *ngIf="!open" id="menu-open" (click)="navOpen(true)">menu</i>
      <i class="material-icons" *ngIf="open"  id="menu-close" (click)="navOpen(false)">close</i>
    </span>
  </div>
</div>
