//@import url('../../../assets/css/main.scss');
.nav-bar {
  //@extend %guru-mantra;
  position: fixed;
  height: 10vh;
  z-index: 20;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding:0 10%;
  .logo {
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    position: relative;

    img {
      width: 15%;
      height: auto;
    }
  }

  .menu {
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    color: white;
    .open{
      transform: translateX(0);
      transition:1.2s;
      opacity:1;
    }
    .close{
      transform: translateX(500px);
      transition:1.2s;
      opacity:0;
    }
    .menu-bar{
      cursor: pointer;
    }
    .menu-items {
      .open{
        transform: translateY(0);
      }
      .close{
        transform: translateY(500px);
      }
      .menu-item {
        margin: 0 15px;
      }
    }
  }
}
